.calendar .vc-week {
    grid-template-columns: repeat(7,minmax(0,1fr)) !important;
    border-top: 1px solid #ccc;
}

.calendar .vc-day, .calendar .vc-weekday {
    border-right: 1px solid #ccc;
    padding: 3px;
}

.calendar .vc-day:last-of-type, .calendar .vc-weekday:last-of-type {
    border-right: none;
}

.calendar.weekly .vc-day {
    min-height: 300px;
}

@media screen and (max-width: 960px) {
    .calendar.weekly .vc-weekdays {
        display: none;
    }

    .calendar.weekly .vc-week {
        display: block;
    }

    .calendar.weekly .vc-day {
        min-height: 0;
        padding: 5px;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }
    
    .calendar.weekly .vc-day:last-of-type {
        border-bottom: none;
    }
}
